/*
 * Copyright 2024 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &uart9;
		zephyr,shell-uart = &uart9;
	};

	cpus {
		/* RTU cores configured in lockstep mode */
		/delete-node/ cpu@2;
		/delete-node/ cpu@3;
	};
};

&uart9 {
	pinctrl-0 = <&uart9_default>;
	pinctrl-names = "default";
	status = "okay";
};
