# Copyright (c) 2024, NXP
# SPDX-License-Identifier: Apache-2.0

config PWM_MCUX_FLEXIO
	bool "MCUX Flexio PWM driver"
	default y
	depends on DT_HAS_NXP_FLEXIO_ENABLED
	depends on CLOCK_CONTROL
	select MCUX_FLEXIO
	help
	  Enable flexio based pwm driver.
